body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  
h1 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}
.user-info a {
    color: #fff;
  }

        
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .recensione {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 20px;
            margin-bottom: 20px;
        }
        
        .titolo {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .valutazione {
            color: #333;
            font-size: 14px;
            margin-bottom: 10px;
        }
        
        .testo {
            color: #666;
            margin-bottom: 10px;
        }
        
        .film {
            color: #888;
            font-style: italic;
        }