<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" href="/css/admin/directorsToAdd.css" />
</head>

<body>
	<header> 
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${user}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>

	<h1 th:text="'Regista per il film ' + ${movie.title}"></h1>
<div class="container">
  <div th:if="${artists.isEmpty()}" class="empty-message">Non ci sono registi nel sistema</div>
  <ul class="artist-list">
    <li th:each="artist : ${artists}" class="artist-item">
      <a th:href="@{'/admin/setDirectorToMovie/'+ ${artist.id}+'/'+${movie.id}}" class="artist-name" th:text="${artist.name} + ' ' + ${artist.surname}">Steven Spielberg</a>
      <button class="confirm-button">Conferma</button>
    </li>
  </ul>
</div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
  const artistItems = document.querySelectorAll('.artist-item');
  
  artistItems.forEach((item) => {
    item.addEventListener('mouseover', () => {
      const confirmButton = item.querySelector('.confirm-button');
      confirmButton.style.display = 'inline-block';
    });
    
    item.addEventListener('mouseout', () => {
      const confirmButton = item.querySelector('.confirm-button');
      confirmButton.style.display = 'none';
    });
  });
});

</script>
</body>

</html>