<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/css/admin/formUpdateMovie.css" />
</head>

<body>
	<header>
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${#request.userPrincipal}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header> 
	<h1>Aggiorna film</h1>
	<div th:if="${movie}" class="movie-container">
	  <div class="movie-details">
		<span th:text="${movie.title}">Up!</span>
		<span th:text="'(' + ${movie.year} + ')'">2000</span>
	  </div>
	  <div th:if="${movie.director}" class="director-details">
		<span>Regista: </span>
		<span th:text="${movie.director.name} + ' ' + ${movie.director.surname}">Steven Spielberg</span>
		<a th:href="@{'/admin/addDirector/' + ${movie.id}}" class="edit-link">Modifica regista</a>
	  </div>
	  <div th:unless="${movie.director}">
		<a th:href="@{'/admin/addDirector/' + ${movie.id}}" class="edit-link">Aggiungi regista</a>
	  </div>
	  <div class="actors-section">
		<span>Attori: </span>
		<div th:each="actor: ${movie.actors}">
		  <span th:text="${actor.name} + ' ' + ${actor.surname}">Al Pacino</span>
		</div>
		<a th:href="@{'/admin/updateActors/' + ${movie.id}}" class="edit-link">
		  <button type="button" class="edit-button">Modifica</button>
		</a>
	  </div>
	</div>
	<div th:unless="${movie}">Film non esistente</div>
	
</body>

</html>