<!DOCTYPE html>
<html>

<head>
	<title>
		New Artist
	</title>
	<link rel="stylesheet" href="/css/admin/formNewArtist.css" />
</head>

<body>
	<header> 
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${user}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>

	<h1>Aggiungi un artista</h1>
	<form th:action="@{/admin/artist}" method="POST" enctype="multipart/form-data" th:object="${artist}" class="artist-form" >
		<div class="error-message">
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div class="form-row">
			<label>Nome:</label> <span><input required type="text" th:field="${artist.name}" /></span>
		</div>

		<div class="form-row">
			<label>Cognome:</label> <span><input required type="text" th:field="${artist.surname}" /></span>
		</div>

		<div class="form-row">
			<label>Data di nascita:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
		</div>

		<div class="form-row">
			<label>Fotografia:</label> <span><input required type="file" name="file"></span>
		</div>
		
		<div class="form-row">
			<span><button type="submit">Conferma</button></span>
		</div> 
	</form>
</body>

</html>