<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/indexAdmin.css" />
</head>

<body>
	<header>
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${#request.userPrincipal}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>
	<h1>Consulta l'archivio</h1>
	<div class="menu-item">
		<a href="/movie">Elenco Film</a>
	</div>
	<div class="menu-item">
		<a href="/artist">Elenco Artisti</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div class="menu-item">
		<a href="/admin/indexMovie">Operazioni sui film</a>
	</div >
	<div class="menu-item">
		<a href="/admin/indexArtist">Operazioni sugli artisti</a>
	</div>
</body>

</html>