body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  .user-info a {
    color: #fff;
  }
  
  
h1 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.search-button {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #524ce0;
}

.search-button:active {
    transform: scale(0.95);
}