<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/artists.css" />
</head>

<body>
	<header>
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${#request.userPrincipal}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>
	<h1>Artisti</h1>
	<div class="container">
	<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/artist' + '/' + ${artist.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</a>
		</li>
	</ul>
	</div>
</body>

</html>