<html>
    <head>
        <title>
            Directors
        </title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>
    <body>
        <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
        <h1>Registi</h1>
        <div th:if="${notDirectors.isEmpty()}">Non Ci sono artisti nel sistema</div>
        <div th:if="${movie}">
            <div th:text="'Registi per il film' +' ' +${movie.title} " ></div>
        </div>
        <div th:if="${director}">
            <a th:href="@{'/deleteDirectorToMovie' + '/' +${artist.id} + '/' + ${movie.id}}"
                th:text="${artist.nome} + ' ' + ${artist.cognome}"></a>
        </div>
        <ul>
        <li th:each="notDirector : ${notDirectors}">
            <a th:href="@{'/setDirectorToMovie' + '/' +${artist.id} + '/' + ${movie.id}}"
            th:text="${artist.nome} + ' ' + ${artist.cognome}"></a>
        </li>
        </ul>
    </body>
</html>