<!DOCTYPE html>
<html>
    <head>
        <title>New Movie</title>
        <link rel="href="/stile.css?version=3"/>
    </head>
    <body>
        <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
        <h1>Aggiungi un film</h1>
        <form th:action="@{/movies}" method="POST" th:object="${movie}">
            <div>
                <span th:text="${messaggioErrore}">Errore</span>
            </div>
            <div>
                Titolo:<span><input required type="text" th:field=${movie.title}"/></span>
            </div>
            <div>
                Anno: <span><input required type="text"th:field=${movie.year}"/></span>
            </div>
            <div>
                URL immagine: <span><input type="url" th:field="${movie.urlImage}"/></span>
            </div>
            <div>
                <span><button type=""submit">Conferma</button></span>
            </div>
        </form>
    </body>
</html>