<!DOCTYPE html>
<html>

<head>
	<title>
		New Movie
	</title>
	<link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>
	<div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un film</h1>
	<form th:action="@{/movies}" method="POST" th:object="${movie}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label for="titolo">Titolo:</label> <span><input required type="text" th:field="${movie.title}" id="titolo"/></span>
		</div>

		<div>
			<label for="anno">Anno:</label> <span><input required type="text" th:field="${movie.year}" id="anno"/></span>
		</div>

		<div>
			<label for="urlImmagine">URL immagine:</label> <span><input type="url" th:field="${movie.urlImage}" id="urlImmagine" /></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>