<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Login
	</title>
	<link rel="stylesheet" href="/css/formLogin.css"/>
</head>

<body>
	<header>
		<div class="logo">
			<a href="/"><img src="/images/logo-siw.png" width="20%"/></a>
		</div>
	</header>
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST">
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span th:if="${param.error != null}">Username o password errati</span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
	</form>
	<div>
		<a th:href="@{/register}" th:text="Registrati">Registrati</a>
	</div>
</body>

</html>