<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
	<h1>Film che soddisfano i requisiti</h1>
	<div th:if="${movies.isEmpty()}">Non ci sono film che soddisfano i requisiti</div>
	<ul th:if="${!movies.isEmpty()}">
		<li th:each="movie : ${movies}">
			<a href="movie.html" th:href="@{'/movies' + '/' + ${movie.id}}"
				th:text="${movie.title} + ' (' + ${movie.year}+')'">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>