<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Homepage</title>
	<link rel="stylesheet" href="/css/stile.css"/>
</head>

<body>
	<header>
		<video src="/videos/theboys.webm" autoplay muted></video>
		<nav>
			<div class="logo_ul">
				<img src="/img/logo-siw.png" alt="">
				<ul>
					<li>
						<a href="/movie">Elenco Film</a>
					</li>
					<li>
						<a href="/artist">Elenco Artisti</a>
					</li>
				</ul>
			</div>
		</nav>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
</body>

</html>