<!DOCTYPE html>
<html>

<head>
	<title>SiwMovie - Homepage</title>
	<link rel="stylesheet" href="/css/stile.css"/>
	<link rel="icon" href="/favicon.ico">
</head>

<body>
	<header>
		<video src="/videos/theboys.webm" autoplay muted></video>
		<nav>
			<div class="logo_ul">
				<img src="/img/logo-siw.png" alt="">
				<ul>
					<li>
						<a href="/movie">Elenco Film</a>
					</li>
					<li>
						<a href="/artist">Elenco Artisti</a>
					</li>
				</ul>
			</div>
			<div class="login" th:if="${#request.userPrincipal}">
			    <span th:text="${#request.userPrincipal.principal.username}"></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${#request.userPrincipal}">
			    <a href="/login">Login</a>
		    </div>
		</nav>
		<div class="content">
			<h1 id="tile">Money Heist</h1>
			<p>is a Spanish heist crime drama television series created by Álex Pina. The series traces two long-prepared heists led by the Professor, one on the Royal Mint of Spain, and one on the Bank … </p>
			<div class="details">
				<h6>A Netflix Originale Film </h6>
				<h5 id="gen"> Thriller</h5>
				<h4> 2021</h4>
				<h3 id="rate"><span> IMDB</span><i class="bi bi-star-fill"></i>    9.6</h3>
			</div>
			<div class="btns">
				
			</div>
		</div>
	</header>
</body>

</html>