<!DOCTYPE html>
<html>
<head>
  <title>Film</title>
  <link rel="stylesheet" href="/css/movie.css" />
</head>
<body>
  <header>
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${#request.userPrincipal}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>
  <h1>Dettagli Film</h1>
  <div class="container">
		<div class="movie-details" th:if="${movie}">
			<span class="movie-title" th:text="${movie.title}"></span>
			<span class="movie-year" th:text="'(' + ${movie.year} + ')'"></span>
			<span><img class="movie-image" width="5%" th:src=${movie.urlImage} /></span>
		</div>
		<div class="not-found-message" th:unless="${movie}">Non esiste</div>
	</div>
</body>
</html>