<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/movies.css" />
</head>

<body>
	<header> 
		<nav>
			<div class="navbar">
				<div class="logo">
					<a href="/"><img src="/images/logo-siw.png" alt="Logo" width="30%"></a>
				</div>
				<div class="user-info" th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</div>
				<div class="login-link" th:unless="${user}">
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
	</header>

	<h1>Film</h1>
	<div class="container">
	<div th:if="${movies==null || movies.isEmpty()}" class="empty-message">Non ci sono film nel sistema</div>
	<ul class="movie-list">
		<li th:each="movie : ${movies}" class="movie-item">
			<a th:href="@{'/movie' + '/' + ${movie.id}}"
			    class="movie-link" th:text="${movie.title} + ' (' + ${movie.year} + ')'">Up! (2000)</a>
		</li>
	</ul>
</div>
</body>

</html>